In [118]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [119]:
data = pd.read_csv("data/adult.csv", sep=";")

In [120]:
data.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,income
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [121]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32561 entries, 0 to 32560
Data columns (total 15 columns):
age               32561 non-null int64
workclass         32561 non-null object
fnlwgt            32561 non-null int64
education         32561 non-null object
education-num     32561 non-null int64
marital-status    32561 non-null object
occupation        32561 non-null object
relationship      32561 non-null object
race              32561 non-null object
sex               32561 non-null object
capital-gain      32561 non-null int64
capital-loss      32561 non-null int64
hours-per-week    32561 non-null int64
native-country    32561 non-null object
income            32561 non-null object
dtypes: int64(6), object(9)
memory usage: 3.7+ MB

In [122]:
type(data)

pandas.core.frame.DataFrame

In [123]:
data.describe()

,age,fnlwgt,education-num,capital-gain,capital-loss,hours-per-week
count,32561.000000,3.256100e+04,32561.000000,32561.000000,32561.000000,32561.000000
mean,38.581647,1.897784e+05,10.080679,1077.648844,87.303830,40.437456
std,13.640433,1.055500e+05,2.572720,7385.292085,402.960219,12.347429
min,17.000000,1.228500e+04,1.000000,0.000000,0.000000,1.000000
25%,28.000000,1.178270e+05,9.000000,0.000000,0.000000,40.000000
50%,37.000000,1.783560e+05,10.000000,0.000000,0.000000,40.000000
75%,48.000000,2.370510e+05,12.000000,0.000000,0.000000,45.000000
max,90.000000,1.484705e+06,16.000000,99999.000000,4356.000000,99.000000

In [124]:
data.sort_values(by='age')

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,income
12318,17,Private,127366,11th,7,Never-married,Sales,Own-child,White,Female,0,0,8,United-States,<=50K
6312,17,Private,132755,11th,7,Never-married,Sales,Own-child,White,Male,0,0,15,United-States,<=50K
30927,17,Private,108470,11th,7,Never-married,Other-service,Own-child,Black,Male,0,0,17,United-States,<=50K
12787,17,Local-gov,308901,11th,7,Never-married,Adm-clerical,Own-child,White,Female,0,0,15,United-States,<=50K
25755,17,?,47407,11th,7,Never-married,?,Own-child,White,Male,0,0,10,United-States,<=50K
14475,17,Private,222618,11th,7,Never-married,Sales,Own-child,Black,Female,0,0,30,United-States,<=50K
23394,17,Private,166242,10th,6,Never-married,Other-service,Own-child,White,Female,0,0,15,United-States,<=50K
12802,17,Private,117549,10th,6,Never-married,Sales,Other-relative,Black,Female,0,0,12,United-States,<=50K
11925,17,Private,114798,10th,6,Never-married,Other-service,Own-child,White,Female,0,0,20,United-States,<=50K
28770,17,Private,46402,7th-8th,4,Never-married,Sales,Own-child,White,Male,0,0,8,United-States,<=50K
29992,17,Private,177629,11th,7,Never-married,Sales,Own-child,White,Female,0,0,20,United-States,<=50K
30402,17,?,48703,11th,7,Never-married,?,Own-child,White,Female,0,0,30,United-States,<=50K
27350,17,?,216595,11th,7,Never-married,?,Own-child,Black,Female,0,0,20,United-States,<=50K
1478,17,Private,197850,11th,7,Never-married,Adm-clerical,Own-child,Asian-Pac-Islander,Female,0,0,24,United-States,<=50K
15350,17,?,634226,10th,6,Never-married,?,Own-child,White,Female,0,0,17,United-States,<=50K
14514,17,Self-emp-inc,61838,10th,6,Never-married,Craft-repair,Own-child,White,Male,0,0,40,United-States,<=50K
7451,17,Private,110798,11th,7,Never-married,Sales,Own-child,White,Female,0,0,20,United-States,<=50K
25203,17,Private,167658,12th,8,Never-married,Sales,Own-child,White,Female,0,0,6,United-States,<=50K
24861,17,Private,239346,10th,6,Never-married,Other-service,Own-child,White,Male,0,0,18,United-States,<=50K
10295,17,Private,228399,11th,7,Never-married,Other-service,Own-child,White,Female,0,0,7,United-States,<=50K
8352,17,Private,114420,11th,7,Never-married,Sales,Own-child,White,Female,0,0,30,United-States,<=50K
28754,17,Private,183110,11th,7,Never-married,Handlers-cleaners,Own-child,White,Male,0,0,16,United-States,<=50K
371,17,Private,89821,11th,7,Never-married,Other-service,Own-child,White,Male,0,0,10,United-States,<=50K
15850,17,Private,73338,11th,7,Never-married,Sales,Own-child,White,Male,0,0,20,United-States,<=50K
29982,17,Private,132680,10th,6,Never-married,Other-service,Own-child,White,Female,0,1602,10,United-States,<=50K
22857,17,Local-gov,340043,12th,8,Never-married,Adm-clerical,Own-child,White,Female,0,0,12,United-States,<=50K
6874,17,Private,365613,10th,6,Never-married,Other-service,Own-child,White,Male,0,0,10,Canada,<=50K
12838,17,Private,126771,12th,8,Never-married,Prof-specialty,Own-child,White,Male,0,0,7,United-States,<=50K
10836,17,Private,126779,11th,7,Never-married,Other-service,Own-child,Black,Male,0,0,20,United-States,<=50K
26088,17,Private,225507,11th,7,Never-married,Handlers-cleaners,Not-in-family,Black,Female,0,0,15,United-States,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4109,90,?,256514,Bachelors,13,Widowed,?,Other-relative,White,Female,991,0,10,United-States,<=50K
10545,90,Private,175491,HS-grad,9,Married-civ-spouse,Craft-repair,Husband,White,Male,9386,0,50,Ecuador,>50K
12975,90,Private,250832,10th,6,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,40,United-States,<=50K
5272,90,Private,141758,9th,5,Never-married,Adm-clerical,Not-in-family,White,Female,0,0,40,United-States,<=50K
22220,90,Private,52386,Bachelors,13,Never-married,Prof-specialty,Not-in-family,Asian-Pac-Islander,Male,0,0,40,United-States,<=50K
15356,90,Private,90523,HS-grad,9,Widowed,Transport-moving,Unmarried,White,Male,0,0,99,United-States,<=50K
24238,90,?,166343,1st-4th,2,Widowed,?,Not-in-family,Black,Female,0,0,40,United-States,<=50K
2303,90,Private,52386,Some-college,10,Never-married,Other-service,Not-in-family,Asian-Pac-Islander,Male,0,0,35,United-States,<=50K
18277,90,Private,311184,Bachelors,13,Married-civ-spouse,Sales,Husband,White,Male,0,0,20,?,<=50K
20610,90,Private,206667,Masters,14,Married-civ-spouse,Prof-specialty,Wife,White,Female,0,0,40,United-States,>50K
18725,90,Local-gov,153602,HS-grad,9,Married-civ-spouse,Other-service,Husband,White,Male,6767,0,40,United-States,<=50K
14159,90,Local-gov,187749,Assoc-acdm,12,Married-civ-spouse,Adm-clerical,Husband,Asian-Pac-Islander,Male,0,0,20,Philippines,<=50K
8806,90,Private,87372,Prof-school,15,Married-civ-spouse,Prof-specialty,Husband,White,Male,20051,0,72,United-States,>50K
1040,90,Private,137018,HS-grad,9,Never-married,Other-service,Not-in-family,White,Female,0,0,40,United-States,<=50K
6624,90,Private,313986,11th,7,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,40,United-States,<=50K
31696,90,?,313986,HS-grad,9,Married-civ-spouse,?,Husband,White,Male,0,0,40,United-States,>50K
25303,90,?,175444,7th-8th,4,Separated,?,Not-in-family,White,Female,0,0,15,United-States,<=50K
18413,90,Private,313749,Bachelors,13,Never-married,Prof-specialty,Own-child,White,Female,0,0,10,United-States,<=50K
11512,90,Private,87285,HS-grad,9,Never-married,Other-service,Own-child,White,Female,0,0,24,United-States,<=50K
19212,90,Private,139660,Some-college,10,Divorced,Sales,Unmarried,Black,Female,0,0,37,United-States,<=50K
8973,90,Private,46786,Bachelors,13,Married-civ-spouse,Sales,Husband,White,Male,9386,0,15,United-States,>50K
11731,90,?,39824,HS-grad,9,Widowed,?,Not-in-family,White,Male,401,0,4,United-States,<=50K
28463,90,Federal-gov,195433,HS-grad,9,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,30,United-States,<=50K
11996,90,Private,40388,Bachelors,13,Never-married,Exec-managerial,Not-in-family,White,Male,0,0,55,United-States,<=50K
15892,90,Private,88991,Bachelors,13,Married-civ-spouse,Exec-managerial,Wife,White,Female,0,0,40,England,>50K
24043,90,Self-emp-not-inc,82628,HS-grad,9,Never-married,Exec-managerial,Not-in-family,White,Male,2964,0,12,United-States,<=50K
32277,90,Private,313749,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,25,United-States,<=50K
5104,90,Private,52386,Some-college,10,Never-married,Other-service,Not-in-family,Asian-Pac-Islander,Male,0,0,35,United-States,<=50K
8963,90,?,77053,HS-grad,9,Widowed,?,Not-in-family,White,Female,0,4356,40,United-States,<=50K
10210,90,Self-emp-not-inc,282095,Some-college,10,Married-civ-spouse,Farming-fishing,Husband,White,Male,0,0,40,United-States,<=50K

In [141]:
data.index

RangeIndex(start=0, stop=32561, step=1)

In [129]:
data.sort_values(by='age')

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,income
12318,17,Private,127366,11th,7,Never-married,Sales,Own-child,White,Female,0,0,8,United-States,<=50K
6312,17,Private,132755,11th,7,Never-married,Sales,Own-child,White,Male,0,0,15,United-States,<=50K
30927,17,Private,108470,11th,7,Never-married,Other-service,Own-child,Black,Male,0,0,17,United-States,<=50K
12787,17,Local-gov,308901,11th,7,Never-married,Adm-clerical,Own-child,White,Female,0,0,15,United-States,<=50K
25755,17,?,47407,11th,7,Never-married,?,Own-child,White,Male,0,0,10,United-States,<=50K
14475,17,Private,222618,11th,7,Never-married,Sales,Own-child,Black,Female,0,0,30,United-States,<=50K
23394,17,Private,166242,10th,6,Never-married,Other-service,Own-child,White,Female,0,0,15,United-States,<=50K
12802,17,Private,117549,10th,6,Never-married,Sales,Other-relative,Black,Female,0,0,12,United-States,<=50K
11925,17,Private,114798,10th,6,Never-married,Other-service,Own-child,White,Female,0,0,20,United-States,<=50K
28770,17,Private,46402,7th-8th,4,Never-married,Sales,Own-child,White,Male,0,0,8,United-States,<=50K
29992,17,Private,177629,11th,7,Never-married,Sales,Own-child,White,Female,0,0,20,United-States,<=50K
30402,17,?,48703,11th,7,Never-married,?,Own-child,White,Female,0,0,30,United-States,<=50K
27350,17,?,216595,11th,7,Never-married,?,Own-child,Black,Female,0,0,20,United-States,<=50K
1478,17,Private,197850,11th,7,Never-married,Adm-clerical,Own-child,Asian-Pac-Islander,Female,0,0,24,United-States,<=50K
15350,17,?,634226,10th,6,Never-married,?,Own-child,White,Female,0,0,17,United-States,<=50K
14514,17,Self-emp-inc,61838,10th,6,Never-married,Craft-repair,Own-child,White,Male,0,0,40,United-States,<=50K
7451,17,Private,110798,11th,7,Never-married,Sales,Own-child,White,Female,0,0,20,United-States,<=50K
25203,17,Private,167658,12th,8,Never-married,Sales,Own-child,White,Female,0,0,6,United-States,<=50K
24861,17,Private,239346,10th,6,Never-married,Other-service,Own-child,White,Male,0,0,18,United-States,<=50K
10295,17,Private,228399,11th,7,Never-married,Other-service,Own-child,White,Female,0,0,7,United-States,<=50K
8352,17,Private,114420,11th,7,Never-married,Sales,Own-child,White,Female,0,0,30,United-States,<=50K
28754,17,Private,183110,11th,7,Never-married,Handlers-cleaners,Own-child,White,Male,0,0,16,United-States,<=50K
371,17,Private,89821,11th,7,Never-married,Other-service,Own-child,White,Male,0,0,10,United-States,<=50K
15850,17,Private,73338,11th,7,Never-married,Sales,Own-child,White,Male,0,0,20,United-States,<=50K
29982,17,Private,132680,10th,6,Never-married,Other-service,Own-child,White,Female,0,1602,10,United-States,<=50K
22857,17,Local-gov,340043,12th,8,Never-married,Adm-clerical,Own-child,White,Female,0,0,12,United-States,<=50K
6874,17,Private,365613,10th,6,Never-married,Other-service,Own-child,White,Male,0,0,10,Canada,<=50K
12838,17,Private,126771,12th,8,Never-married,Prof-specialty,Own-child,White,Male,0,0,7,United-States,<=50K
10836,17,Private,126779,11th,7,Never-married,Other-service,Own-child,Black,Male,0,0,20,United-States,<=50K
26088,17,Private,225507,11th,7,Never-married,Handlers-cleaners,Not-in-family,Black,Female,0,0,15,United-States,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4109,90,?,256514,Bachelors,13,Widowed,?,Other-relative,White,Female,991,0,10,United-States,<=50K
10545,90,Private,175491,HS-grad,9,Married-civ-spouse,Craft-repair,Husband,White,Male,9386,0,50,Ecuador,>50K
12975,90,Private,250832,10th,6,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,40,United-States,<=50K
5272,90,Private,141758,9th,5,Never-married,Adm-clerical,Not-in-family,White,Female,0,0,40,United-States,<=50K
22220,90,Private,52386,Bachelors,13,Never-married,Prof-specialty,Not-in-family,Asian-Pac-Islander,Male,0,0,40,United-States,<=50K
15356,90,Private,90523,HS-grad,9,Widowed,Transport-moving,Unmarried,White,Male,0,0,99,United-States,<=50K
24238,90,?,166343,1st-4th,2,Widowed,?,Not-in-family,Black,Female,0,0,40,United-States,<=50K
2303,90,Private,52386,Some-college,10,Never-married,Other-service,Not-in-family,Asian-Pac-Islander,Male,0,0,35,United-States,<=50K
18277,90,Private,311184,Bachelors,13,Married-civ-spouse,Sales,Husband,White,Male,0,0,20,?,<=50K
20610,90,Private,206667,Masters,14,Married-civ-spouse,Prof-specialty,Wife,White,Female,0,0,40,United-States,>50K
18725,90,Local-gov,153602,HS-grad,9,Married-civ-spouse,Other-service,Husband,White,Male,6767,0,40,United-States,<=50K
14159,90,Local-gov,187749,Assoc-acdm,12,Married-civ-spouse,Adm-clerical,Husband,Asian-Pac-Islander,Male,0,0,20,Philippines,<=50K
8806,90,Private,87372,Prof-school,15,Married-civ-spouse,Prof-specialty,Husband,White,Male,20051,0,72,United-States,>50K
1040,90,Private,137018,HS-grad,9,Never-married,Other-service,Not-in-family,White,Female,0,0,40,United-States,<=50K
6624,90,Private,313986,11th,7,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,40,United-States,<=50K
31696,90,?,313986,HS-grad,9,Married-civ-spouse,?,Husband,White,Male,0,0,40,United-States,>50K
25303,90,?,175444,7th-8th,4,Separated,?,Not-in-family,White,Female,0,0,15,United-States,<=50K
18413,90,Private,313749,Bachelors,13,Never-married,Prof-specialty,Own-child,White,Female,0,0,10,United-States,<=50K
11512,90,Private,87285,HS-grad,9,Never-married,Other-service,Own-child,White,Female,0,0,24,United-States,<=50K
19212,90,Private,139660,Some-college,10,Divorced,Sales,Unmarried,Black,Female,0,0,37,United-States,<=50K
8973,90,Private,46786,Bachelors,13,Married-civ-spouse,Sales,Husband,White,Male,9386,0,15,United-States,>50K
11731,90,?,39824,HS-grad,9,Widowed,?,Not-in-family,White,Male,401,0,4,United-States,<=50K
28463,90,Federal-gov,195433,HS-grad,9,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,30,United-States,<=50K
11996,90,Private,40388,Bachelors,13,Never-married,Exec-managerial,Not-in-family,White,Male,0,0,55,United-States,<=50K
15892,90,Private,88991,Bachelors,13,Married-civ-spouse,Exec-managerial,Wife,White,Female,0,0,40,England,>50K
24043,90,Self-emp-not-inc,82628,HS-grad,9,Never-married,Exec-managerial,Not-in-family,White,Male,2964,0,12,United-States,<=50K
32277,90,Private,313749,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,25,United-States,<=50K
5104,90,Private,52386,Some-college,10,Never-married,Other-service,Not-in-family,Asian-Pac-Islander,Male,0,0,35,United-States,<=50K
8963,90,?,77053,HS-grad,9,Widowed,?,Not-in-family,White,Female,0,4356,40,United-States,<=50K
10210,90,Self-emp-not-inc,282095,Some-college,10,Married-civ-spouse,Farming-fishing,Husband,White,Male,0,0,40,United-States,<=50K

In [136]:
data.sort_values(by=['age','race'])

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,income
3605,17,Private,130125,10th,6,Never-married,Other-service,Own-child,Amer-Indian-Eskimo,Female,1055,0,20,United-States,<=50K
14720,17,Private,99462,11th,7,Never-married,Other-service,Own-child,Amer-Indian-Eskimo,Female,0,0,20,United-States,<=50K
30579,17,Private,27415,11th,7,Never-married,Handlers-cleaners,Own-child,Amer-Indian-Eskimo,Male,0,0,20,United-States,<=50K
1478,17,Private,197850,11th,7,Never-married,Adm-clerical,Own-child,Asian-Pac-Islander,Female,0,0,24,United-States,<=50K
3239,17,?,110998,Some-college,10,Never-married,?,Own-child,Asian-Pac-Islander,Female,0,0,40,Philippines,<=50K
1519,17,Local-gov,32124,9th,5,Never-married,Other-service,Own-child,Black,Male,0,0,9,United-States,<=50K
2801,17,Private,295488,11th,7,Never-married,Other-service,Own-child,Black,Female,0,0,25,United-States,<=50K
5147,17,?,127003,9th,5,Never-married,?,Own-child,Black,Male,0,0,40,United-States,<=50K
5807,17,Private,221403,12th,8,Never-married,Other-service,Own-child,Black,Male,0,0,18,United-States,<=50K
7663,17,?,659273,11th,7,Never-married,?,Own-child,Black,Female,0,0,40,Trinadad&Tobago,<=50K
7755,17,Private,154398,11th,7,Never-married,Other-service,Own-child,Black,Male,0,0,16,Haiti,<=50K
10281,17,Private,234780,HS-grad,9,Never-married,Farming-fishing,Own-child,Black,Male,0,0,40,United-States,<=50K
10836,17,Private,126779,11th,7,Never-married,Other-service,Own-child,Black,Male,0,0,20,United-States,<=50K
11571,17,Private,250541,10th,6,Never-married,Other-service,Own-child,Black,Male,0,0,20,United-States,<=50K
12802,17,Private,117549,10th,6,Never-married,Sales,Other-relative,Black,Female,0,0,12,United-States,<=50K
12907,17,Private,75333,10th,6,Never-married,Sales,Own-child,Black,Female,0,0,24,United-States,<=50K
14284,17,Self-emp-inc,325171,10th,6,Never-married,Other-service,Own-child,Black,Male,0,0,35,United-States,<=50K
14475,17,Private,222618,11th,7,Never-married,Sales,Own-child,Black,Female,0,0,30,United-States,<=50K
16317,17,Private,133449,9th,5,Never-married,Other-service,Own-child,Black,Male,0,0,26,United-States,<=50K
16382,17,?,148769,HS-grad,9,Never-married,?,Own-child,Black,Male,0,0,40,United-States,<=50K
16994,17,Private,142457,11th,7,Never-married,Other-service,Own-child,Black,Male,0,0,20,United-States,<=50K
17383,17,Private,225211,9th,5,Never-married,Other-service,Own-child,Black,Male,0,0,35,United-States,<=50K
18593,17,Private,19752,11th,7,Never-married,Other-service,Own-child,Black,Female,0,0,25,United-States,<=50K
19496,17,Private,143791,10th,6,Never-married,Other-service,Own-child,Black,Female,0,0,12,United-States,<=50K
22721,17,Local-gov,173497,11th,7,Never-married,Prof-specialty,Own-child,Black,Male,0,0,15,United-States,<=50K
23333,17,?,48751,11th,7,Never-married,?,Own-child,Black,Female,0,0,40,United-States,<=50K
24587,17,Private,321880,10th,6,Never-married,Other-service,Own-child,Black,Male,0,0,15,United-States,<=50K
25502,17,Private,317702,9th,5,Never-married,Other-service,Own-child,Black,Female,0,0,40,United-States,<=50K
26088,17,Private,225507,11th,7,Never-married,Handlers-cleaners,Not-in-family,Black,Female,0,0,15,United-States,<=50K
26189,17,Private,230789,9th,5,Never-married,Sales,Own-child,Black,Male,0,0,22,United-States,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4109,90,?,256514,Bachelors,13,Widowed,?,Other-relative,White,Female,991,0,10,United-States,<=50K
5272,90,Private,141758,9th,5,Never-married,Adm-clerical,Not-in-family,White,Female,0,0,40,United-States,<=50K
5370,90,Local-gov,227796,Masters,14,Married-civ-spouse,Exec-managerial,Husband,White,Male,20051,0,60,United-States,>50K
6232,90,Self-emp-not-inc,155981,Bachelors,13,Married-civ-spouse,Prof-specialty,Husband,White,Male,10566,0,50,United-States,<=50K
6624,90,Private,313986,11th,7,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,40,United-States,<=50K
8806,90,Private,87372,Prof-school,15,Married-civ-spouse,Prof-specialty,Husband,White,Male,20051,0,72,United-States,>50K
8963,90,?,77053,HS-grad,9,Widowed,?,Not-in-family,White,Female,0,4356,40,United-States,<=50K
8973,90,Private,46786,Bachelors,13,Married-civ-spouse,Sales,Husband,White,Male,9386,0,15,United-States,>50K
10210,90,Self-emp-not-inc,282095,Some-college,10,Married-civ-spouse,Farming-fishing,Husband,White,Male,0,0,40,United-States,<=50K
10545,90,Private,175491,HS-grad,9,Married-civ-spouse,Craft-repair,Husband,White,Male,9386,0,50,Ecuador,>50K
11512,90,Private,87285,HS-grad,9,Never-married,Other-service,Own-child,White,Female,0,0,24,United-States,<=50K
11731,90,?,39824,HS-grad,9,Widowed,?,Not-in-family,White,Male,401,0,4,United-States,<=50K
11996,90,Private,40388,Bachelors,13,Never-married,Exec-managerial,Not-in-family,White,Male,0,0,55,United-States,<=50K
12975,90,Private,250832,10th,6,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,40,United-States,<=50K
15356,90,Private,90523,HS-grad,9,Widowed,Transport-moving,Unmarried,White,Male,0,0,99,United-States,<=50K
15892,90,Private,88991,Bachelors,13,Married-civ-spouse,Exec-managerial,Wife,White,Female,0,0,40,England,>50K
18277,90,Private,311184,Bachelors,13,Married-civ-spouse,Sales,Husband,White,Male,0,0,20,?,<=50K
18413,90,Private,313749,Bachelors,13,Never-married,Prof-specialty,Own-child,White,Female,0,0,10,United-States,<=50K
18725,90,Local-gov,153602,HS-grad,9,Married-civ-spouse,Other-service,Husband,White,Male,6767,0,40,United-States,<=50K
18832,90,Private,115306,Masters,14,Never-married,Exec-managerial,Own-child,White,Female,0,0,40,United-States,<=50K
19489,90,Private,84553,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,<=50K
19747,90,Private,226968,7th-8th,4,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,<=50K
20610,90,Private,206667,Masters,14,Married-civ-spouse,Prof-specialty,Wife,White,Female,0,0,40,United-States,>50K
24043,90,Self-emp-not-inc,82628,HS-grad,9,Never-married,Exec-managerial,Not-in-family,White,Male,2964,0,12,United-States,<=50K
25303,90,?,175444,7th-8th,4,Separated,?,Not-in-family,White,Female,0,0,15,United-States,<=50K
28463,90,Federal-gov,195433,HS-grad,9,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,30,United-States,<=50K
31030,90,Private,47929,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,<=50K
31696,90,?,313986,HS-grad,9,Married-civ-spouse,?,Husband,White,Male,0,0,40,United-States,>50K
32277,90,Private,313749,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,25,United-States,<=50K
32367,90,Local-gov,214594,7th-8th,4,Married-civ-spouse,Protective-serv,Husband,White,Male,2653,0,40,United-States,<=50K

In [160]:
data[['age','native-country']] .groupby(by='native-country').describe()

                                 age                                           \
                               count       mean        std   min    25%   50%
native-country
 ?                             583.0  38.725557  12.404833  17.0  30.00  37.0
 Cambodia                       19.0  37.789474  11.073386  18.0  30.00  37.0
 Canada                        121.0  42.545455  15.081998  17.0  30.00  41.0
 China                          75.0  42.533333  12.526009  22.0  33.00  41.0
 Columbia                       59.0  39.711864  13.592659  18.0  28.50  38.0
 Cuba                           95.0  45.768421  13.487151  21.0  37.00  46.0
 Dominican-Republic             70.0  37.728571  13.097097  18.0  26.00  39.0
 Ecuador                        28.0  36.642857  14.692438  21.0  28.00  32.0
 El-Salvador                   106.0  34.132075  12.185921  17.0  24.00  32.5
 England                        90.0  41.155556  14.278853  17.0  30.25  40.0
 France                         29.0  38.965517  11.881807  20.0  30.00  34.0
 Germany                       137.0  39.255474  12.962065  18.0  29.00  36.0
 Greece                         29.0  46.206897  13.055867  22.0  40.00  49.0
 Guatemala                      64.0  32.421875  11.432069  19.0  24.75  28.5
 Haiti                          44.0  38.272727  12.236742  17.0  28.75  38.0
 Holand-Netherlands              1.0  32.000000        NaN  32.0  32.00  32.0
 Honduras                       13.0  33.846154  11.610671  18.0  28.00  31.0
 Hong                           20.0  33.650000   9.109134  19.0  27.75  32.5
 Hungary                        13.0  49.384615  17.731979  24.0  30.00  54.0
 India                         100.0  38.090000  11.195323  17.0  29.00  35.5
 Iran                           43.0  39.418605  10.170528  22.0  33.50  38.0
 Ireland                        24.0  36.458333  11.158850  23.0  30.00  32.0
 Italy                          73.0  46.424658  13.367579  19.0  38.00  48.0
 Jamaica                        81.0  35.592593  11.674521  18.0  26.00  33.0
 Japan                          62.0  38.241935   9.196731  19.0  32.25  38.0
 Laos                           18.0  34.722222  11.701209  19.0  27.00  31.0
 Mexico                        643.0  33.290824  10.891036  17.0  25.00  31.0
 Nicaragua                      34.0  33.617647  11.544419  19.0  26.25  32.0
 Outlying-US(Guam-USVI-etc)     14.0  38.714286  14.541339  21.0  26.75  35.5
 Peru                           31.0  35.258065  13.188297  17.0  24.50  34.0
 Philippines                   198.0  39.444444  12.952253  17.0  29.00  38.0
 Poland                         60.0  43.116667  15.484373  17.0  30.00  41.0
 Portugal                       37.0  40.297297  14.364046  19.0  29.00  38.0
 Puerto-Rico                   114.0  40.508772  13.023631  17.0  31.00  40.0
 Scotland                       12.0  40.416667  12.809502  18.0  29.00  41.0
 South                          80.0  38.750000  14.706840  19.0  26.75  36.0
 Taiwan                         51.0  33.823529   9.452420  20.0  27.50  31.0
 Thailand                       18.0  34.944444  10.870750  19.0  26.75  33.0
 Trinadad&Tobago                19.0  41.315789  10.842574  17.0  34.00  42.0
 United-States               29170.0  38.655674  13.722408  17.0  28.00  37.0
 Vietnam                        67.0  34.059701  13.491727  19.0  23.00  30.0
 Yugoslavia                     16.0  38.812500  12.697605  20.0  30.50  38.0


                               75%   max
native-country
 ?                           46.00  90.0
 Cambodia                    44.00  65.0
 Canada                      53.00  80.0
 China                       51.50  75.0
 Columbia                    49.00  75.0
 Cuba                        54.50  82.0
 Dominican-Republic          47.75  78.0
 Ecuador                     42.50  90.0
 El-Salvador                 42.00  79.0
 England                     48.75  90.0
 France                      47.00  64.0
 Germany                     47.00  74.0
 Greece                      55.00  65.0
 Guatemala                   38.50  66.0
 Haiti                       48.75  63.0
 Holand-Netherlands          32.00  32.0
 Honduras                    41.00  58.0
 Hong                        37.00  60.0
 Hungary                     60.00  81.0
 India                       47.00  61.0
 Iran                        44.50  63.0
 Ireland                     41.50  68.0
 Italy                       56.00  77.0
 Jamaica                     44.00  66.0
 Japan                       45.00  61.0
 Laos                        43.50  56.0
 Mexico                      40.00  81.0
 Nicaragua                   40.50  67.0
 Outlying-US(Guam-USVI-etc)  47.00  63.0
 Peru                        42.50  69.0
 Philippines                 47.75  90.0
 Poland                      53.25  85.0
 Portugal                    49.00  78.0
 Puerto-Rico                 48.75  90.0
 Scotland                    49.50  62.0
 South                       49.00  90.0
 Taiwan                      40.50  61.0
 Thailand                    44.50  55.0
 Trinadad&Tobago             47.00  61.0
 United-States               48.00  90.0
 Vietnam                     43.50  73.0
 Yugoslavia                  43.50  66.0

In [9]:
s = pd.Series([3, -5, 7, 4], index=['a', 'b', 'c', 'd'])

In [10]:
s

a    3
b   -5
c    7
d    4
dtype: int64

In [11]:
data = {'Country': ['Belgium', 'India', 'Brazil'],
'Capital': ['Brussels', 'New Delhi', 'Brasília'],
'Population': [11190846, 1303171035, 207847528]}
df = pd.DataFrame(data,columns=['Country', 'Capital', 'Population'])

In [12]:
data

{'Country': ['Belgium', 'India', 'Brazil'],
 'Capital': ['Brussels', 'New Delhi', 'Brasília'],
 'Population': [11190846, 1303171035, 207847528]}

In [43]:
df

   Country    Capital  Population
0  Belgium   Brussels    11190846
1    India  New Delhi  1303171035
2   Brazil   Brasília   207847528

In [30]:
s['b']

-5

In [33]:
df[['Country']]

   Country
0  Belgium
1    India
2   Brazil

In [54]:
df[['Country','Population']]

   Country  Population
0  Belgium    11190846
1    India  1303171035
2   Brazil   207847528

In [50]:
df.loc[[1]]

  Country    Capital  Population
1   India  New Delhi  1303171035

In [56]:
df.loc[1:2]

  Country    Capital  Population
1   India  New Delhi  1303171035
2  Brazil   Brasília   207847528

In [57]:
df.loc[:1]

   Country    Capital  Population
0  Belgium   Brussels    11190846
1    India  New Delhi  1303171035

In [76]:
df.loc[1:]

  Country    Capital  Population
1   India  New Delhi  1303171035
2  Brazil   Brasília   207847528

In [86]:
df.loc[:1, ['Country', 'Capital']]

   Country    Capital
0  Belgium   Brussels
1    India  New Delhi

In [87]:
df.loc[:1]

   Country    Capital  Population
0  Belgium   Brussels    11190846
1    India  New Delhi  1303171035

In [90]:
df.loc[1:2, ['Country', 'Capital']]

  Country    Capital
1   India  New Delhi
2  Brazil   Brasília

In [91]:
df.loc[:1, 'Capital':]

     Capital  Population
0   Brussels    11190846
1  New Delhi  1303171035

In [106]:
df[:1]

   Country   Capital  Population
0  Belgium  Brussels    11190846

In [111]:
df.iloc[1,1:2]

Capital    New Delhi
Name: 1, dtype: object

In [114]:
df.Capital.groupby

<bound method NDFrame.groupby of 0     Brussels
1    New Delhi
2     Brasília
Name: Capital, dtype: object>

In [115]:
##df.sort_index() Sort by labels along an axis
df.sort_values(by='Country')

   Country    Capital  Population
0  Belgium   Brussels    11190846
2   Brazil   Brasília   207847528
1    India  New Delhi  1303171035